 a{
overflow: hidden;
    border: 1px solid #ccc;
    background-color:GhostWhite ;
 color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
 text-decoration: none;
 }
 a:hover {
    background-color:Salmon;
}
 a.active {
    background-color: DarkSalmon;
}
 div.b a{
overflow: hidden;
    border: 1px solid #ccc;
    background-color:DeepPink ;
 color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
 text-decoration: none;
 }




.move
{ 
    position: relative;
    top: 3px;
}


